#home {
	background-image: url('../img/blue.jpg');
}	
.btn {
	background-color: #49A3F1;
	border: 1px solid #49A3F1;
}
.btn:hover,
.btn:active,
.btn:focus {
	background-color: #378DD6;
	border: 1px solid #378DD6;
}
.social-links li a:hover {
	background:#49A3F1;
	border-color: #49A3F1;
}	
.myform .form-control:focus,
.myform textarea.inputError:focus,
.input-group .form-control:focus {
	border: 2px solid #49A3F1;
}