// Order
// -------------------------------------------------------------------
// This decides what order elements will be on mobile
@media screen and (max-width: $breakpoint--sm) {
    .order-1 { order: 1; }
    .order-2 { order: 2; }
    .order-3 { order: 3; }
    .order-4 { order: 4; }
    .order-5 { order: 5; }
    .order-6 { order: 6; }
    .order-7 { order: 7; }
    .order-8 { order: 8; }
    .order-9 { order: 9; }
    .order-10 { order: 10; }
}