.theme_info_right {
    max-width: 500px;
    width:100%;
}
.recommend-plugins{
    display: flex;
    flex-wrap: wrap;
}
.recommend-plugins>h3{
    width: 100%;
}
.rcp {
    width: 23.5%;
    margin-right: 2%;
    background: #fff;
    display: block;
    margin-bottom: 15px;
   padding:20px;
    position: relative;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.rcp:nth-of-type(4n+4){
    margin-right: 0;
}
.action-btn a:nth-of-type(2){
    margin-top: 15px;
}
.about-wrap h4 {
    font-size: 16px;
    color: #23282d;
    margin-top: 0;
    margin-bottom: 20px;
}
.freeevspro-img {
    margin-top: 50px;
}
.about-wrap img {
    margin: 0;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 1px solid #ccc;
}
.rcp img {
float: left;
    display: block;
    margin-right: 20px;
    width: 30%;
}
.about-wrap p.action-btn{
    margin: 0;
}
p.rcp-detail {
    display: block;
    }
.nav-tab-wrapper .update-plugins{
    display: inline-block;
    background-color: #d54e21;
    color: #fff;
    font-size: 9px;
    line-height: 17px;
    font-weight: 600;
    margin: 1px 0 0 2px;
    vertical-align: top;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 26;
  }

.nav-tab-wrapper span.update-count {
    display: block;
       padding: 0 6px;
}
.svg .wp-badge{
background-image: url('../images/icon.png');
}
.ztabtn.active{
background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}
.recommend-plugins{
    box-sizing: border-box;
}
.oneline-recommend-plugins{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (min-width: 768px){
.theme_link {
    width: 23%;
    display: inline-block;
    float: left;
   padding: 1%;
}
}
