#customize-theme-controls .control-section-integral .accordion-section-title {
    border: 2px dashed #0085ba;
    line-height: 26px;
}
.rtl .control-section-integral .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
