// Aspect Ratio
// -------------------------------------------------------------------
.square { @include aspect-ratio(1, 1); }

.rectangle { @include aspect-ratio(33, 16); }


// Other
// -------------------------------------------------------------------
.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.border--tan { border: 5px solid $tan; }
